/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
    background-color: #002233;
}


header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
}

.headerul {
    align-items: center;
    margin: 40px 20px 0px 0px;
    flex-wrap: wrap;
}

.spacer-top {
    aspect-ratio: 960/150;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.layer-top {
    background-image: url('./img/layer-top.svg');
    }

.logo {
    color: #BB004B;
    font-family: Abril Fatface, serif;
    font-size: 40px;
    text-align: left;
    margin: 40px 0px 0px 40px;
    text-decoration: none;
}

main {
    display: grid;
    grid-template-columns: 75px 1fr 1fr 1fr;
    grid-template-rows: repeat(6 1fr);
    column-gap: 10px;
    row-gap: 150px;
}

.skills-section {
    grid-column: 2 / 5;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.skills-title {
    color: #BB004B;
    font-family: Abril Fatface, serif;
    font-size: 50px;
    grid-column: 1;
    grid-row: 1;
    padding-top: 40px;
}

.skills-side {
    grid-column: 2 / 4;
    grid-row: 1;

}

.skill-icon {
    width: 60px;
    padding-top: 20px;
}

.projects-section {
    grid-column: 2 / 5;
    grid-row: 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 180px 2fr 1fr 2fr 1fr 2fr 1fr;
    row-gap: 50px;
    column-gap: 30px;
}

.projects-side {
    grid-column: 2 / 4;
    grid-row: 1;
}

.projects-title {
    color: #BB004B;
    font-family: Abril Fatface, serif;
    font-size: 50px;
    grid-column: 1;
    grid-row: 1;
    padding-top: 10px;
}

.eas {
    grid-column: 1 / 5;
    grid-row: 2;
    display: grid;
    grid-template-columns: 30px 1fr 2fr;
    grid-template-rows: 30px 160px 1fr;
    border-left: 1px solid lightpink;
}

.eas-left {
    grid-column: 2;
    grid-row: 1 / 5;
    display: flex;
    flex-direction: column;
}

.eas-title {
    color: #ffb6c1;
    font-family: Raleway, sansserif;
    font-size: 25px;
}

.eas-text {
    padding-right: 50px;
}

.eas-gif {
    width: 70%; 
    grid-column: 3;
    grid-row: 1 / 3;
}

.rps {
    grid-column: 1 / 5;
    grid-row: 4;
    display: grid;
    grid-template-columns: 30px 1fr 2fr;
    grid-template-rows: 30px 160px 1fr 1fr;
    border-left: 1px solid lightpink;
}

.rps-left {
    grid-column: 2;
    grid-row: 1 / 5;
    display: flex;
    flex-direction: column;
}

.rps-title {
    color: lightpink;
    font-family: Raleway, sansserif;
    font-size: 25px;
}

.rps-text {
    padding-right: 50px;
}

.rps-gif {
    grid-column: 3;
    grid-row: 1 / 3;
    width: 70%; 
}

.lp {
    grid-column: 1 / 5;
    grid-row: 6;
    display: grid;
    grid-template-columns: 30px 1fr 2fr;
    grid-template-rows: 30px 160px 1fr 1fr;
    border-left: 1px solid lightpink;
}

.lp-left {
    grid-column: 2;
    grid-row: 1 / 5;
    display: flex;
    flex-direction: column;
}

.lp-title {
    color: lightpink;
    font-family: Raleway, sansserif;
    font-size: 25px;
}

.lp-text {
    padding-right: 50px;
}

.lp-gif {
    grid-column: 3;
    grid-row: 1 / 3;
    width: 70%; 
}

footer {
    display: grid;
    grid-template-columns: 75px 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.icons {
    align-items: center;
    justify-self: end;
    padding: 0px 40px 40px 0px;
    grid-column: 5;
    grid-row: 2;
}

.icon {
    margin: 0px 10px;
}

.footerli {
    color: lemonchiffon;
    font-family: Abril Fatface, sansserif;
    margin-right: 20px;
    font-size: 20px;
    letter-spacing: 0.7px;
    text-decoration: none;
}

.spacer-bottom {
    aspect-ratio: 960/502;
    width: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.layer-bottom {
    background-image: url('./img/layer-bottom-new.svg');
    }