body {
    background-color:darkseagreen;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: lightpink;
    padding: 10px;
    border-top: 30px solid lightpink;
    border-left: 15px solid lightpink;
    border-right: 15px solid lightpink;
    border-bottom: 15px solid lightpink;
}

.footerul {
    list-style-type: none;
    display: flex;
}

.footerli {
    color: lemonchiffon;
    font-family: sans-serif;
    margin-right: 20px;
    font-size: 18px;
    letter-spacing: 0.7px;
    font-weight:700;
    text-decoration: none;
}

.footerli:hover {
    color:darkgreen;
}

.header {
    background-color: #ffb6c1;
    display: flex;
}

h1 {
    color: #fffacd;
    font-family:'Times New Roman', Times, serif;
    font-size: 120px;
    font-weight: 300;
    margin-top: -26px;
    margin-left: 27px;
}

.h4 {
    font-family:'Times New Roman', Times, serif;
    color: #fffacd;
    font-size: 30px;
    font-weight: 100px;
    width: 1200px;
    margin-top: -120px;
    margin-left: 27px;
}

.main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: -50px;
    width: 800px;
}

.mainheader {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 800px;
}

.middle {
    border-top: 140px solid lightpink;
    border-left: 15px solid lightpink;
    border-right: 15px solid lightpink;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}